<template name="MasterLayout">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Schedule App</a>
      </div>
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav navbar-right">
          {{# if currentUser}}
            <li>{{#linkTo route="createVisit"}}Create visit Admin{{/linkTo}}</li>
            <li>
              <a href="{{ pathFor 'createVisitHome'}}" class="hidden-xs">Create appointment Home</a>
              <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" href="{{ pathFor 'createVisitHome'}}">Create Visit</a>                                          
            </li>
          {{else}}
            <li>{{#linkTo route="home"}}Login{{/linkTo}}</li>
            <li>
              <a href="{{ pathFor 'createVisitHome'}}" class="hidden-xs">Create appointment</a>
              <a class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" href="{{ pathFor 'createVisitHome'}}">Create Visit</a>                                          
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  {{> errors}}
  <div class="container main-container">
    {{> yield}}
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li>Built with Meteor - 2017</li>
      </ul>
    </div>
  </nav>
</template>
